.bg-img {
    background-image: url('https://file.hstatic.net/1000061481/file/adidas__meteorite__pack___26__ce66109bb5894f229333278a2015ac69.jpg');
    background-size: cover;
    background-position: center;
}
